<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/createpage"> uploadcelebrant</a>
    <a href="/"> Home</a>

    <h1>Uploaded Celebrants</h1>
    <div>
        <% items.forEach(function(celebrant) { %>
        <div>
            <div>
                <img src="data:image/<%=celebrant.img.image1.contentType%>;base64,
                     <%=celebrant.img.image1.data.toString('base64')%>">
                     <img src="data:image/<%=celebrant.img.image2.contentType%>;base64,
                     <%=celebrant.img.image2.data.toString('base64')%>">
                <div>
                    <h5><%= celebrant.name %></h5>
                     
<p><%= celebrant.message %></p>
<p><%= celebrant.dateOfBirth %></p>
<p><%= celebrant.type %></p>

 
 
 
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</body>
</html>